<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Atualizar</title>
</head>
<body>
    <div class="caixa">
        <form action="" method="post" enctype="multipart/form-data">
            Inserir produtos
            <p>Produto: <input type="text" name="nome" id="nome"></p>
            <p>Valor: <input type="text" name="valor" id=""></p>
            <input type="file" name="arquivo" id="" width="300px" height="300px">
            <label for="promocao">É promoção?</label>
            <p><button type="button" onclick="promo('S')">Sim</button>
            <button type="button" onclick="promo('N')">Não</button></p>
            <input type="hidden" value="Não" name="promocao" id="promocao">
            <input type="submit" value="Inserir">
        </form>
    <div>
    Produto Inserido
    <img src="data:image/jpeg;base64,{{img}}" alt="" width="400px">
    <p>Produto: {{nomes}}</p>
    <p>Valor: {{valor}}</p>
    <p>É promoção: {{promo}}</p>
</div>
</div>
</body>
<script src="/static/js/script.js"></script>
</html>